#title {
    font-size: 26px;
    font-weight: bold;
    border-bottom: solid #bebebe 1px;
    text-align: center;
}

table{
    margin-top: 75px;
    width: 50%;
    background-color: #eeeeee;
}
th, td {
    padding: 5px;
    text-align: left;
}