body{
    background-image: url("icon.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.headline{
    background-color:rgba(255,255,255,0.5);
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 70px;
    color: navy;
    opacity: 1;

}
h2{
    text-align: center;
    font-style: italic;
    color: navy;
    font-size: 30px;
}


.pls{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}


.noAccount{

    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.registerButton{
    text-align: center;
}

.button{
    position: relative;
}

.boxed{
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: content-box;
    margin: auto;
    width: 30%;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    opacity: 0.8;
}