body {
    background-color: #EEEEEE;
    background-image: url("icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.profile {
    position: fixed;
    left: 40%;
    top: 10%;
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 15px;
    opacity: 0.8;
}

.profile p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

div a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    margin: 100px;
    display: block;
    text-align: center;
}